@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-rokkitt), serif;
  color: #ffffff;
}

body {
  font-family: var(--font-roboto), sans-serif;
  background-color: #030708;
  color: #ffffff;
  scrollbar-gutter: stable;
}
